
<div ng-controller="ViewAllGuardsCtrl" ng-init="getData()">
<section id="main-content">
          <section class="wrapper">            
        
		 		 <div class="row">
                  <div class="col-lg-12">
                          <button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">Clear sorting</button>
                          <button ng-click="tableParams.filter({})" class="btn btn-default pull-right">Clear filter</button> 
                          
               
                          <table  ng-table="tableParams" show-filter="true"  class="table"  >
                           <!-- <tbody>
                              <tr ng-if="(guardListResults | filter:criteria).length">
                                 <th style="text-align: center;">First Name</th>
                                 <th style="text-align: center;">Last Name</th>
                                 <th style="text-align: center;">BG Status</th>
                                 <th style="text-align: center;">Weekly Working Hours</th>
                                 <th style="text-align: center;">Start Date</th>
                                 <th style="text-align: center;">End Date</th>
                                 <th style="text-align: center;">Address</th>
                                 <th style="text-align: center;">City</th>
                                 <th style="text-align: center;">Zipcode</th>
                                 <th style="text-align: center;">Email</th>
                                 <th style="text-align: center;">Phone Number</th>
                                 <th style="text-align: center;">Building Assigned</th>
                                 <th style="text-align: center;">Action</th>
                              </tr>
                              <tr ng-if="!(guardListResults | filter:criteria).length">
                                  <td>
                                      No data available.                
                                  </td>
                              </tr>
                              <tr ng-repeat="guard in guardListResults">
                                 <td style="text-align: center;">{{guard.fname}}</td>
                                 <td style="text-align: center;">{{guard.lname}}</td>
                                 <td style="text-align: center;">{{guard.bgstatus}}</td>
                                 <td style="text-align: center;">{{guard.weekly_working_set}}</td>
                                 <td style="text-align: center;">{{guard.start_date| date : 'mediumDate'}}</td>
                                 <td style="text-align: center;">{{guard.end_date| date : 'mediumDate'}}</td>
                                 <td style="text-align: center;">{{guard.address}}</td>
                                 <td style="text-align: center;">{{guard.city}}</td>
                                 <td style="text-align: center;">{{guard.zipcode}}</td>
                                 <td style="text-align: center;">{{guard.email}}</td>
                                 <td style="text-align: center;">{{guard.phonenumber}}</td>
                                 <td style="text-align: center;">{{guard.buildingname}}</td>
                                 <td style="text-align: center;">
                                  <div class="btn-group">
                                      <a href="#" ng-click=modifyGuard(guard)>Edit</a>
                                      <a href ng-click="deleteCall(this)">Delete</a>
                                  </div>
                                  </td>
                              </tr>
                              </tbody> -->
                               <tr ng-repeat="guard in $data">
                              
                               <td data-title="'First Name'" sortable="'fname'" filter="{ 'fname': 'text' }">
                                 {{guard.fname}}
                               </td>
                               <td data-title="'Last Name'" sortable="'lname'" filter="{ 'lname': 'text' }">
                                 {{guard.lname}}
                               </td>
                               <td data-title="'BackGround Status'" sortable="'bgstatus'" filter="{ 'bgstatus': 'text' }">
                                 {{guard.bgstatus}}
                               </td>
                               <td data-title="'Weekly Working Set'" sortable="'weekly_working_set'" filter="{ 'weekly_working_set': 'text' }">
                                 {{guard.weekly_working_set}}
                               </td>
                               <td data-title="'Start Date'" sortable="'start_date'" filter="{ 'start_date': 'text' }">
                                 {{guard.start_date| date : 'YYYY-MM-DD'}}
                               </td>
                               <td data-title="'End Date'" sortable="'end_date'" filter="{ 'end_date': 'text' }">
                                 {{guard.end_date| date : 'YYYY-MM-DD'}}
                               </td>
                               <td data-title="'Addresss'" sortable="'address'" filter="{ 'address': 'text' }">
                                 {{guard.address}}
                               </td>
                               <td data-title="'City'" sortable="'city'" filter="{ 'city': 'text' }">
                                 {{guard.city}}
                               </td>
                               <td data-title="'Zipcode'" sortable="'zipcode'" filter="{ 'zipcode': 'text' }">
                                 {{guard.zipcode}}
                               </td>
                               <td data-title="'Email'" sortable="'email'" filter="{ 'email': 'text' }">
                                 {{guard.email}}
                               </td>
                               <td data-title="'Phonenumber'" sortable="'phonenumber'" filter="{ 'phonenumber': 'text' }">
                                 {{guard.phonenumber}}
                               </td>
                                </tr>
                              </table>
                           </div>
              </div>
      </section>
      </section>
      </div>
      
      